/* miejsce na font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@font-face { font-family: SuperMario256; src: url('SuperMario256.ttf'); } 
@font-face { font-family: ARCADE_R; src: url('ARCADE_R.ttf'); }
@font-face { font-family: ARCADE_N; src: url('ARCADE_N.ttf'); }

html {
    min-height: 100%;
    min-width: 100%;
    background-image: url('https://wallpapercave.com/dwp1x/MUW4Dh6.jpg');
    
  }
  body {
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    
  }


  .memory-text {
    font-family: Arcade_N;  
    text-align: center !important;  
    padding: 90px 130px;
    width: 600px;
  }
  

p{
    text-align:center;
    margin-top:5px;
    margin-bottom:25px;
    letter-spacing: 2px;
}

.board
{
    width: 600px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    position:static;
}
@media(max-width:900px)
{
  .board
{
    width: 600px;

    margin-right:auto;
    text-align: center;
    position:static;
}
}

.cardA
{
    width: 125px;
    height: 125px;
    display:inline-block;
    margin:3px;
    background-image: url("img/karta.png");
    border:4px solid #e9b64a;
    border-radius: 4px;
    cursor:default;
    filter:brightness(100%);
    transition: all .3s ease-in-out;
}

.card
{
    width:125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image:url("img/karta.png");
    border: 4px solid #51C8B2;
    border-radius: 4px;
    cursor:crosshair;
    filter:brightness(65%);
    transition:all .3s ease-in-out;
}

.card:hover
{
    border:4px solid #e9b64a;
    filter: brightness(100%);
}
.score
{
    margin-top: 50px;
    letter-spacing: 2px;
}
.gamepad {
  width: 400px; /* Adjust the width as needed */
  height: auto;
  position:absolute; 
  top:-30px; 
  left:52px; 
}
.gamepad {
  width: 400px; /* Adjust the width as needed */
  height: auto;
  position:absolute; 
  top:-30px; 
  left:52px; 
}
.navbar {
  position:fixed;
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Full width */
  margin-top:-21px;

  
}

.navbar-links {
  display: flex;
  justify-content: center;
  margin-left:200px;

  margin-top:-10px;
  margin-bottom: -30px;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
}

.navbar-links li {
    list-style: none;
    
    margin-bottom: 50px;
    text-align: center;
    list-style-type: none;
    margin-top:30px;

}

.navbar-links li a {
  font-weight: bold;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px 20px 20px;
  text-decoration: none;    
  font-family: ARCADE_N;
  font-size: 14px;
}

.navbar-links li:hover {
  background: #ddd;
  color: black;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


@media (max-width: 900px) {
.navbar {
    position:fixed;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-right: 64px;
  
}

.toggle-button {
    display: flex;
    padding: 15px;
    padding-right: 80px;
}
.navbar-links li:hover {
  background: #ddd;
  color: black;
  margin: top -20px bottom center;
  margin-bottom: center;
  
}
.navbar-links {
    position:flex;
    display: none;
    width: 100%;
}

.navbar-links ul {
    width: 100%;
    padding: -10px;
    margin-top: -30px;
    margin-left:-550px;
    flex-direction:row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links ul li {
    text-align: center;
    padding-left: -2px;

}

.navbar-links ul li a {
    position:static;
    margin-top: 10px;
    padding-left: -2px;
    padding-top:60px;
    margin-bottom:-40px;
    font-size: 12px;
}

.navbar-links.active {
  text-align: center;
  display: flex;
}
.gamepad {
  width: 26%;
  padding-top: 22px;
  padding-left: 270px;
}

.memory-text {
  font-family: Arcade_N;
}

}

