/* miejsce na font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* start css */
html {
  min-height: 100%;
  min-width: 100%;
  background-image: url('https://wallpapercave.com/dwp1x/MUW4Dh6.jpg');
}
  body {
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
  }
  
  
  /* część wspólna */

  .gamepad {
    width: 400px; /* Adjust the width as needed */
    height: auto;
    position:fixed; 
    top:-16px; 
    left:60px; 
  }

  nav {
    overflow: hidden;
    background-color: #333;
    width: 100%; /* Full width */
    padding-bottom: 20px;
    list-style-type: none;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  
  }
  nav a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  li {
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    list-style-type: none;
    padding: 20px 0px 20px;

  }
  .tło {
    opacity: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,1) 0%, rgba(0,0,0,1) 100%);
  }

  .tekst {
    font-family: 'Ubuntu', sans-serif;
    
    color: #f2f2f2;
  }
  nav a:hover {
    background: #ddd;
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 5px;  
    font-size: 20px;
    background-color: aqua;
  }
  
  
    
    
    @media (max-width: 600px) {
      nav, article {
        width: 100%;
        height: auto;
      }
    }
  
  /* koniec części wspólnej */
  
h1 {
  size: 200px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(250, 255, 105, 0);
}
  

  /* koniec strony <Strona Główna.html> */

  .sklep{
    width: 40%;
  }
  /* koniec strony o nas.html*/

  .dziecko {
    width: 20%;
  }
  .dziecko:hover {

  }
