/* miejsce na font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face { font-family: SuperMario256; src: url('SuperMario256.ttf'); } 

/* start css */
html {
  min-height: 100%;
  min-width: 100%;
  background-image: url('https://wallpapercave.com/dwp1x/MUW4Dh6.jpg');
}
  body {
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
  }
  
  
  /* część wspólna */

  .gamepad {
    width: 400px; /* Adjust the width as needed */
    height: auto;
    position:fixed; 
    top:-16px; 
    left:60px; 
  }

  nav {
    overflow: hidden;
    background-color: #333;
    width: 100%; /* Full width */
    padding-bottom: 20px;
    list-style-type: none;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  nav a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  li {
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    list-style-type: none;
    padding: 20px 0px 20px;

  }
  .tło {
    opacity: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,1) 0%, rgba(0,0,0,1) 100%);
  }

  .tekst {
    font-family: 'Ubuntu', sans-serif;
    
    color: #f2f2f2;
  }
  nav a:hover {
    background: #ddd;
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 5px;  
    font-size: 20px;
    background-color: aqua;
  }
  
  @media (max-width: 600px) {
    nav,
    article {
      width: 100%;
      height: auto;
    }
  }
  
  /* koniec części wspólnej */
  
h1 {
  size: 200px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(250, 255, 105, 0);
}
  

  /* koniec strony <Strona Główna.html> */

  .sklep{
    width: 40%;
  }
  /* koniec strony o nas.html*/

  .dziecko {
    width: 20%;
  }
  .dziecko:hover {

  }
  /* koniec strony <galeria.html> */

  .historia-gier{
    color : rgba(219,14,117,1);
    text-shadow:3px 2px 5px rgba(255,255,255);
    font-size:45px;
    font-family: SuperMario256;
    text-align: center;
  }
  .pong {

    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 20px;
  }
  
  .pierwsza-gra {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255);
    opacity: 70%;
  }
  .lata-70 {
    font-family:'Ubuntu', sans-serif;
    font-size: 20px;
    background: rgba(72, 50, 196, 0.301);
    color:antiquewhite;
    text-align: center;
    text-shadow: 2px 2px 2px #FFB650,
                  6px 6px 6px  #FF80BF,
                  8px 8px 8px #EF5097, 
                  10px 10px 10px #6868AC, 
                  12px 12px 12px #90B1E0;
    padding: 22px;
  }



.button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


.arcade {

}
.komputery-konsole {

}
.nes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding:20px;
  background: rgba(50, 196, 50, 0.301);
}
/* koniec strony <historia.html> */ 
.test{
  font-size: 200px;
}

