/* miejsce na font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@font-face { font-family: SuperMario256; src: url('SuperMario256.ttf'); } 
@font-face { font-family: ARCADE_R; src: url('ARCADE_R.ttf'); }
@font-face { font-family: ARCADE_N; src: url('ARCADE_N.ttf'); }

/* start css */
html {
  min-height: 100%;
  min-width: 100%;
  background-image: url('https://wallpapercave.com/dwp1x/MUW4Dh6.jpg');
}
  body {
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
  
  }
  
  
  /* część wspólna */

  .gamepad {
    width: 400px; /* Adjust the width as needed */
    height: auto;
    position:fixed; 
    top:-16px; 
    left:52px; 
  }

  nav {
    overflow: hidden;
    background-color: #333;
    width: 100%; /* Full width */
    padding-left: 150px;

    list-style-type: none;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
  }
  nav a {
    font-weight: bold;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;    
    font-family: ARCADE_N;
    font-size: 14px;
    
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  li {
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    list-style-type: none;
    padding: 22px 0px 20px;
  }


  .tło {
    opacity: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,1) 0%, rgba(0,0,0,1) 100%);
  }

  .tekst {
    font-family: 'Ubuntu', sans-serif;
    color: #f2f2f2;
  }
  nav a:hover {
    background: #ddd;
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 5px;  
    font-size: 20px;
    background-color: aqua;
  }
  
  @media (max-width: 600px) {
    nav,
    article {
      width: 100%;
      height: auto;
    }
  }
  
  /* koniec części wspólnej */
h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  border: 6px solid #000;
  background-color: #f2f2f2;
  color: #000;
  text-shadow: 3px 2px #fff;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}  
h2 {
  size: 200px;
  text-align: center;
  text-shadow: 3px 1px 1px rgb(178, 184, 15);
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}
  

  /* koniec strony <Strona Główna.html> */

  .sklep{
    width: 40%;
  }
  /* koniec strony o nas.html*/

  .dziecko {
    width: 20%;
  }
  .dziecko:hover {

  }
  /* koniec strony <galeria.html> */

  .historia-gier{
    color : rgba(219,14,117,1);
    text-shadow:4px 2px 2px rgba(255,255,255);
    font-size:70px;
    padding-top: 130px;
    font-family: SuperMario256;
    text-align: center;
    
  }

  .lata-70 {
    font-family:'Ubuntu', sans-serif;
    font-size: 20px;
    background: rgba(72, 50, 196, 0.301);
    color:antiquewhite;
    text-align: center;
    text-shadow: 2px 2px 2px #FFB650,
                  6px 6px 6px  #FF80BF,
                  8px 8px 8px #EF5097, 
                  10px 10px 10px #6868AC;                  
    padding: 22px;


  }



.button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
/* sekcja na logo */
.Asteroids {
  margin-top: 20px;
  width: 20%;
}
.Space_Invaders {
  width: 20%;
}

.star-trek {
  width: 30%;
}
.superman {
  width: 18%;
}
.microsoft-flying-simulator {
  width: 20%;
}
/* sekcja na logo */


.lata-80 {
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;
  background: rgba(50, 174, 196, 0.301);
  color:antiquewhite;
  text-align: center;
  text-shadow: 2px 2px 2px #50ff9f,
                6px 6px 6px  #FF80BF,
                8px 8px 8px #EF5097, 
                10px 10px 10px #6868AC; 
                padding: 22px;
  border:ridge 7px;

}
.historia-tytuł {
  font-family: 'Press start 2P';
  font-size: 30px;
}



/* CSS */
.button2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
/* sekcja na logo */
.contra {
  width:20%;
  margin-bottom:20px;
}
.donkey-kong {
  width:20%;
  margin-bottom:30px;
}
.pac-man {
  width:20%;
  margin-bottom:20px;
}
.super-mario {
  width:20%;
  margin-bottom:20px;
}
.wolfenstein {
  width:20%;
  margin-bottom:20px;
}
.the-legend-of-zelda {
  width:20%;
  margin-bottom:20px;
}
/* sekcja na logo */
@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 768px) {
  /* CSS rules for smaller screens */
} 


  

/* koniec strony <historia.html> */ 
.test{
  font-size: 200px;
}

